body {
    background-color: #111111  ;
    color: #FFFFFF;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: min(2rem, 7vw);
    margin: 0px;
    text-align: center;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0.625rem;
    background-color: #1C1C1C;
}


header button {
    background-color: #1C1C1C;
    color: white;
    border: none;
    transition: all 0.5s ease;
    font-size: max(1.5vw, 1.5vh);
}

header button:hover {
    font-size: max(2vw, 2vh);
}

header button:active {
    font-size: max(1.5vw, 1.5vh);
}

header::after, header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 0.3125rem;
    z-index: -1;
    background-size: 400% 400%;
    animation: spin 3s linear infinite;
    background: conic-gradient(from var(--angle), #8A2BE2, rgb(78, 19, 127), #8A2BE2);
}

header::before {
    filter: blur(1.5rem);
}


.card {
    position: relative;
    width: max(18rem, 25vw);
    height: max(18rem, 25vw);
    border-radius: 0.625rem;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
    margin: min(3rem, 5vw);
}

.card-wrapper {
    position: relative;
    top: 6.25rem;
    transition: all 0.5s ease;
}

.card-wrapper:hover {
    transform: scale(1.2);
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 70%, #00FF00);
    padding: 0.625rem;
    z-index: -1;
    border-radius: 0.625rem;
    animation: spin linear 5s infinite;
    transition: transform 0.5s ease;
}

.card::before {
    filter: blur(1.5rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    } 
    to {
        --angle: 360deg;
    }
}

.cardLabel {
    margin-top: 1.25rem;
}

#cards {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#myTechs::before, #myTechs::after {
    background-image: conic-gradient(from var(--angle), 
    #00FF7F,
    #7B68EE, 
    #00FF7F );
}

ul {
    align-self: flex-start;
    margin-top: 1.25rem;
    margin-left: 2.5rem;
}

.card li {
    list-style-type: none;
    font-size: 1.25rem;
    position: relative;
    z-index: 1;
}

.card li::before {
    content: "";
    position: absolute;
    left: -1.0625rem;
    top: 0.875rem;
    background: conic-gradient(from var(--angle) ,#1E90FF, #00FA9A, #1E90FF);
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 3.125rem;
    z-index: -1;
    translate: -50% -50%;
    animation: spin linear 5s infinite;
    filter: blur(1px);
}

.card li::after {
    content: "";
    position: absolute;
    left: -1.0625rem;
    top: 0.875rem;
    background: black;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 3.125rem;
    z-index: -1;
    translate: -50% -50%;
}

p {
    margin: 10%;
    margin-top: 1.25rem;
    text-align: center;
    font-size: 100%;
}

#lookingFor::before, #lookingFor::after {
    animation-direction: reverse;
    background: conic-gradient(from var(--angle), #00FF00 0%, transparent 30%);
}

#contact-window {
    display: none;
    visibility: hidden;
    position: absolute;
    translate: 50% -50%;
    right: 50%;
    top: 50%;
    width: min(38rem, 80vw);
    height: 80vh;
    background-color: transparent;
    backdrop-filter: blur(1.875rem);
    border: 0.1875rem solid white;
    border-radius: 0.625rem;        
    font-size: 100%;
    z-index: 10;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

#contact-me-title{
    margin-top: 0.625rem;
    text-align: center;
}

#contact-window table{
    margin-left: 1vw;
}


#contact-window a{
    position: relative;
    color: white;
    text-decoration: none;
}

#contact-window a::before{
    content: "";
    position: absolute;
    bottom: -0.1875rem;
    right: 0;
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(-45deg, #7B68EE, #00FF7F);
}

#contact-window p{
    margin: 0;
    margin-right: 0.7rem;
    display: inline;
    background: linear-gradient(-45deg, #00FF7F, #7B68EE);
    color: transparent;
    background-clip: text;
    font-weight: bold;
}

#contact-window .tdIcon {
    text-align: center;
}